[Unit]
Description = GPS Data Acquistion Service
After = NetworkManager-wait-online.service network.target network-online.target dbus.service

[Service]
User = root
Group = root
ExecStart = /usr/bin/gpsservice
Restart = on-abort
StartLimitInterval = 60
StartLimitBurst = 10
Environment=TERM=linux
[Install]
WantedBy = multi-user.target
